.footer {
  background-color: rgb(200, 200, 200);
  border-radius: 0.5rem;
  grid-column: 1 / -1;
  padding: 1rem;
}

.footer__config {
  display: grid;
  font-size: 0.9rem;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.footer__config dt {
  font-weight: bold;
}

.footer__config dd {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  margin: 0;
  padding: 0;
}
